  <link href="/jquery/jquery-ui.css" rel="stylesheet" type="text/css"/>
  <script src="/jquery/jquery-1.7.2.min.js"></script>
  <script src="/jquery/jquery-ui.min.js"></script>
  
  <script>
  var hosts = []
  $(document).ready(function() {
    $.getJSON("/search/allbyname",{}, function(j) {
      for (var i =0 ; i < j.length; i++) {
        hosts.push(String(j[i]));
      }
    $("input#autocomplete").autocomplete({
      source: hosts
    });
    })
  });
  </script>

<script type="text/javascript">
function goTo()
{
	var host = document.forms[0].host.value;
	window.location = '/search/hostinfo/'+host+'/info';
	return false;
}
</script>
<h2 class=title>Get Host Information</h2>
<table>
<form action="" method="get" onsubmit="return goTo()">
<tr><td> </td><td>
<input name="host" id="autocomplete" /></td></tr>
<tr><td colspan="2"><input type="submit" value="Submit"></td></tr>
</form>

