:production:
  :provider:                AWS
  :aws_access_key_id:       production_access
  :aws_secret_access_key:   SOMEBIGUGLYSTRINGTHATYOUCANNOTREMEMBER 
:stage:
  :provider:                AWS
  :aws_access_key_id:       87654321
  :aws_secret_access_key:   SOMEBIGUGLYSTRINGTHATYOUCANNOTREMEMBER 
